<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Working with Flask and SocketIO</title>
</head>
<!-- https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/ -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.js"></script> -->
<script src="{{url_for('static', filename='socket.io.js')}}"></script>
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script>
  // var socket = io()
  var socket = io('http://127.0.0.1/update')

  $(document).ready(function() {
    $("#pass").click(function() {
      data = {"action": "pass"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#chow").click(function() {
      data = {"action": "chow"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#pong").click(function() {
      data = {"action": "pong"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#kong").click(function() {
      data = {"action": "kong"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#hu").click(function() {
      data = {"action": "hu"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });

    $("#drawing").click(function() {
      data = {"action": "drawing"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#discard").click(function() {
      data = {"action": "discard"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#dice").click(function() {
      data = {"action": "dice"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
  });

  socket.on('message', function(msg){
      $('#msg').html($('<li>').text(msg.data["join_game"]["wait_num"]));
      console.log(msg.data["action_state"]);
  });
</script>

<body>
  等待人數:<li id="msg"></li>
  <button id="hu">胡</button>
  <button id="kong">槓</button>
  <button id="pong">碰</button>
  <button id="chow">吃</button>
  <button id="pass">過</button><br>

  <button id="drawing">摸牌</button>
  <button id="discard">出牌</button>
  <button id="dice">擲骰子</button>
</body>

</html>
