<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Working with Flask and SocketIO</title>
  <style>
    #gap {
      background-color: #807b7b;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 8px;
    }
    #hand:hover {
      /* td:hover { */
      background-color: #f0f0f0;
      cursor: pointer;
    }
  </style>
</head>
<!-- https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/ -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.js"></script> -->
<script src="{{url_for('static', filename='socket.io.js')}}"></script>
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script>
  // var socket = io()
  var socket = io('http://' + window.location.hostname + '/update');

  // client-side
  socket.on("connect", () => {
    data = {"connect":socket.id}
    // socket.emit('message', data);
    console.log("connect:" + JSON.stringify(data));
    // var formData = sessionStorage.getItem('data');
    // console.log("formData:"+JSON.parse(formData));
  });
  socket.on("disconnect", () => {
    data = {"disconnect": socket.id}
    // socket.emit('message', data);
    console.log("disconnect:" + JSON.stringify(data));
  });

  function tableTiles()
  {
    // pick tiles to discard
    var tiles = [];
    // top row of tiles table
    $("#Tiles tr:eq(0) td").each(function(i){
      if($(this).text() != "")
      {
        tiles.push($(this).text());
      }
    });
    return tiles;
  }
  
  function clearTiles(val)
  {
    row = val == 'top' ? '0' : '1';
    // top row of tiles table
    $("#Tiles tr:eq(" + row + ") td").each(function(i){
      $(this).text("");
    });
  }

  function getName(seat)
  {
     return $('#'+seat+' td:eq(1)').text();
  }

  function getWindNext(wind)
  {
    // var seat = $('#seat').text();
    tmp = ['east', 'south', 'west', 'north']
    for (const i in tmp)
    {
      if (tmp[i] == wind)
      {
        return tmp[(parseInt(i)+1)%4];
      }
    }
    return "";
  }

  function List2String(list)
  {
      var tmp = "";
      var remain = (list.length % 18) > 0 ? 1 : 0;
      var row = Math.floor(list.length / 18)
      row += remain
      for (var j = 0; j < row; j++)
      {
        if(j>0)
          tmp += "<br>"
        tmp += list.slice(0,18).join(",")
      }
      return tmp;
  }

  function HideTile2String(flower, meld, hide)
  {
      // format flower, meld and hide tiles to string as below:
      // 1G,2G,2P | 1S,2S,3S | 4S,5S,6S | 1W,1X,1X,1X
      var tmp = [];
      if(flower.length > 0)
        tmp.push(flower.join(","));
      for (const j in meld)
      {
        tmp.push(meld[j].join(","));
      }
      for (const j in hide)
      {
        tmp.push(hide[j].join(","));
      }
      return tmp.join(" | ");
  }

  function DisableActionButton()
  {
      $("#dice").prop('disabled', true); 
      $("#discard").prop('disabled', true);
      $("#drawing").prop('disabled', true);
      $("#hu").prop('disabled', true);
      $("#kong").prop('disabled', true);
      $("#pong").prop('disabled', true);
      $("#chow").prop('disabled', true);
      $("#pass").prop('disabled', true);
  }

  $(document).ready(function() {
    $("#pass").click(function() {
      // $(this).prop('disabled', true);
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"pass"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#chow").click(function() {
      // pick tiles to discard
      var tiles = tableTiles();
      if(tiles.length != 2)
        return false;
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"chow", "tiles":tiles}
      socket.emit('message', data);
      console.log(data);
      clearTiles('top');
      return false;
    });
    $("#pong").click(function() {
      // pick tiles to discard
      var tiles = tableTiles();
      if(tiles.length != 2)
        return false;
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"pong", "tiles":tiles}
      socket.emit('message', data);
      console.log(data);
      clearTiles('top');
      return false;
    });
    $("#kong").click(function() {
      // pick tiles to discard
      var tiles = tableTiles();
      if(tiles.length < 1 || tiles.length > 4)
        return false;
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"kong", "tiles":tiles}
      socket.emit('message', data);
      console.log(data);
      clearTiles('top');
      return false;
    });
    $("#hu").click(function() {
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"hu"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });

    $("#drawing").click(function() {
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"drawing"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });
    $("#discard").click(function() {
      // pick tiles to discard
      var tiles = tableTiles();
      if(tiles.length != 1)
        return false;
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"discard", "tiles":tiles}
      socket.emit('message', data);
      console.log(data);
      clearTiles('top');
      return false;
    });
    $("#dice").click(function() {
      DisableActionButton();
      data = {"player":$('#seat').text(), "action":"dice"}
      socket.emit('message', data);
      console.log(data);
      return false;
    });

    // bottom row of tiles table
    $("#Tiles tr:eq(1) td").each(function() {
      // console.log("click"+$(this).html());
      this.addEventListener("click", function() { 
        // 'this' refers to the clicked cell
        // const text = this.textContent;
        // console.log(this.cellIndex);

        // move tile to top/bottom row
        if(this.textContent == "") {
          tmp = $("#Tiles tr:eq(0) td:eq("+this.cellIndex+")").text();
          this.textContent = tmp;
          $("#Tiles tr:eq(0) td:eq("+this.cellIndex+")").text("");
        } else {
          $("#Tiles tr:eq(0) td:eq("+this.cellIndex+")").text(this.textContent);
          this.textContent = "";
        }

      });
    });
  });

  // received from web server
  socket.on('message', function(msg){
      console.log("message");

      for (const key in msg.data)
      {
        switch(key)
        {
          case 'myself':
            myself = msg.data["myself"]
            $('#name').text(myself["name"]);
            $('#seat').text(myself["seat"]);
            break;
          case 'info':
            // update player info into player table
            info = msg.data["info"];
            for (const i in info)
            {
              seat = info[i]['seat']
              $('#'+seat+' td:eq(0)').text(seat);
              $('#'+seat+' td:eq(1)').text(info[i]['name']);
              $('#'+seat+' td:eq(2)').text(info[i]['avatar']);
              // $('#'+seat+' td:eq(3)').text(info[i]['gold']);
            }

            // rename the table id of <tr> to seat_out and seat_discard from other_discard table
            wind = getWindNext($('#seat').text());
            $("#other_discard tr:eq(0) td:eq(0)").text(wind);
            $('#other_discard tr:eq(0)').attr("id", wind + '_out');
            $('#other_discard tr:eq(1)').attr("id", wind + '_discard');

            wind = getWindNext(wind);
            $("#other_discard tr:eq(2) td:eq(0)").text(wind);
            $('#other_discard tr:eq(2)').attr("id", wind + '_out');
            $('#other_discard tr:eq(3)').attr("id", wind + '_discard');

            wind = getWindNext(wind);
            $("#other_discard tr:eq(4) td:eq(0)").text(wind);
            $('#other_discard tr:eq(4)').attr("id", wind + '_out');
            $('#other_discard tr:eq(5)').attr("id", wind + '_discard');
            break;
          case 'join_game':
            $('#wait').text(msg.data["join_game"]["wait_num"]);
            break;
          case 'game_state':
            // {'game_state': {'round_wind': 'east', 'dealer_wind': 'east', 'current_player': 'east', 'dealer_num': 0, 'dice_score': [2, 6, 3]}}
            state = msg.data["game_state"];
            $('#dice_score').text(state["dice_score"].join(", "));
            $('#message').text(getName(state["current_player"]) + " 進行中")
            break;
          case 'player_state':
            // "player_state":{"whoes_turn":"north","action":"drawing"}
            state = msg.data["player_state"];
            data = {'dice':"擲骰子", 'drawing':"摸牌", 'discard':"出牌", 'hu':"胡牌", 'kong':"槓牌", 'pong':"碰牌", 'chow':"吃牌", 'pass':"跳過"}
            action = state["action"] == "" ? "中" : data[state["action"]];
            $('#message').text(getName(state["whoes_turn"]) + " 進行 " + action)
            break;
          case 'player_seat':
            // "player_seat":{
            //     "east":"name 1","south":"name 2","west":"name 3","north":"name 4"
            // }
            seat = msg.data['player_seat']
            for (const key in seat)
            {
              if (seat[key] == $('#name').text())
              {
                $('#seat').text(key);
                break;
              }
            }
            data = {"get_info":true}
            socket.emit('message', data);
            break;
          case 'action_state':
            state = msg.data['action_state'];
            //{'dice': False, 'drawing': False, 'discard': True, 'hu': False, 'kong': False, 'pong': False, 'chow': False, 'pass': False}
            for(const btn in state)
            { 
              if(state[btn] == true)
              {
                $("#"+btn).prop('disabled', false);
              } else {
                $("#"+btn).prop('disabled', true);
              }
            }
            break;
          case 'hand_tiles':
            clearTiles('top');
            clearTiles('bottom');
            // update hand tiles to Tiles table
            hand = msg.data['hand_tiles'][0]['hand']
            console.log("hand size:" + hand.length);
            for (const i in hand)
            {
              $("#Tiles tr:eq(1) td:eq("+i+")").text(hand[i]);
            }
            // update drawed tile to drawed cell
            drawed = msg.data['hand_tiles'][0]['drawed']
            $("#Tiles tr:eq(1) td:eq(17)").text(drawed);
            break;
          case 'out_tiles':
            // update hand tiles to Tiles table
            out = msg.data['out_tiles'];
            for (const i in out)
            {
              // self Tiles table
              if(out[i]['seat'] == $('#seat').text())
              {
                // show flower, meld and hide tiles to out cell
                flower = out[i]['flower'];
                meld = out[i]['meld'];
                hide = out[i]['hide'];
                tmp = HideTile2String(flower, meld, hide);
                $("#Tiles tr:eq(2) td:eq(0)").html(tmp);

                // show discard tiles to discard cell
                discard = out[i]['discard'];
                tmp = List2String(discard);
                $("#Tiles tr:eq(3) td:eq(0)").html(tmp);
              }

              // other_discard table
              $("#other_discard tr").each(function() {
                // console.log($(this).attr('id'));
                IdName = out[i]['seat'] + '_out';
                if($(this).attr('id') == IdName)
                {
                  // show flower, meld and hide tiles to out cell
                  flower = out[i]['flower'];
                  meld = out[i]['meld'];
                  hide = out[i]['hide'];
                  tmp = HideTile2String(flower, meld, hide);
                  $(this).find("td:eq(1)").html(tmp);
                }
                IdName = out[i]['seat'] + '_discard';
                if($(this).attr('id') == IdName)
                {
                  discard = out[i]['discard'];
                  tmp = List2String(discard);
                  $(this).find("td:eq(0)").html(tmp);
                }
              });
            }
            break;
          default:
            break;
        }
      }
      // show log
      console.log(JSON.stringify(msg.data));
  });
</script>

<body>
  等待人數:<label id="wait"></label><br>
  <!-- 玩家頭像:<label id="avatar"></label>  -->
  玩家名稱:<label id="name"></label>
  座位:<label id="seat"></label><br>
  骰子:<label id="dice_score"></label><br>

  <!-- <table id="player" hidden> -->
  <table id="player">
    <tr>
      <th>座位</th><th>名稱</th><th>頭像</th><th>金幣</th>
    </tr>
    <tr id="east">
        <td>east</td><td></td><td></td><td>100000</td>
    </tr>
    <tr id="south">
        <td>south</td><td></td><td></td><td>100000</td>
    </tr>
    <tr id="west">
        <td>west</td><td></td><td></td><td>100000</td>
    </tr>
    <tr id="north">
        <td>north</td><td></td><td></td><td>100000</td>
    </tr>
  </table>
  <p></p>
  <table id="Tiles">
      <tr id="pick_up">
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td id="gap"></td><td></td>
      </tr>
      <tr id="hand">
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td id="gap"></td><td></td>
      </tr>
      <tr id="out">
        <!-- flower | meld and hide -->
        <!-- 1G,2G,2P | 1S,2S,3S | 4S,5S,6S | 1W,1X,1X,1X -->
        <td colspan="18"></td>
      </tr>
      <tr id="self_discard">
        <!-- 3S,9C,1C,... -->
        <td colspan="18"></td>
      </tr>
  </table>
  <p></p>
  <button id="hu" disabled="true">胡</button>
  <button id="kong" disabled="true">槓</button>
  <button id="pong" disabled="true">碰</button>
  <button id="chow" disabled="true">吃</button>
  <button id="pass" disabled="true">過</button><br>

  <button id="drawing" disabled="true">摸牌</button>
  <button id="discard" disabled="true">出牌</button>
  <button id="dice" disabled="true">擲骰子</button>
  <p id="message"></p><br>
  <table id="other_discard">
      <!-- id out1 will rename to south_out -->
      <tr id="out1">
        <!-- flower | meld and hide -->
        <!-- 1G,2G,2P | 1S,2S,3S | 4S,5S,6S | 1W,1X,1X,1X -->
        <td rowspan="2"></td><td></td>
      </tr>
      <!-- id discard1 will rename to south_discard -->
      <tr id="discard1">
        <td></td>
      </tr>
      <!-- id out2 will rename to west_out -->
      <tr id="out2">
        <!-- flower | meld and hide -->
        <!-- 1G,2G,2P | 1S,2S,3S | 4S,5S,6S | 1W,1X,1X,1X -->
        <td rowspan="2"></td><td></td>
      </tr>
      <!-- id discard1 will rename to west_discard -->
      <tr id="discard2">
        <td></td>
      </tr>
      <!-- id out3 will rename to north_out -->
      <tr id="out3">
        <!-- flower | meld and hide -->
        <!-- 1G,2G,2P | 1S,2S,3S | 4S,5S,6S | 1W,1X,1X,1X -->
        <td rowspan="2"></td><td></td>
      </tr>
      <!-- id discard3 will rename to north_discard -->
      <tr id="discard3">
        <td></td>
      </tr>
  </table>
</body>

</html>
